html,body{
    margin: 0%;
    padding: 0%;
}
nav{
    border: 2px solid plum;
    background-color: plum;
    height: 60px;
   
    box-shadow: 2px 2px 20px gray;
}
nav li{
    list-style-type: none;
}

.heading h2{
    margin-left: 45%;
    margin-top: -40px;
    cursor: pointer;
    color: white;
}
 

.logo{
    margin-top: -70px;
    margin-left: 40%;
}
.last{
    margin-left: 300px;
    margin-top: -103px;
}
.phone{
    margin-left: 300px;
    margin-top: -103px;
}
.comment{
    margin-left: 150px;
    margin-top: 15px;
}
#area{
    margin-left: -40px;
    height: 80px;
    width: 350px;
    font-size: 20px;
}

.response{
    margin-left: 100px;
    margin-top: -500px;
    font-size: 20px;
}

hr{
    margin-top: 60px;
  
}  
input{
    height: 30px;
    width: 250px;
    font-size: 20px;
}
.uiv button {
    position: relative;
    display: flex;
    margin-left: 140px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: white;
    font-family: "Montserrat", sans-serif;
    
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    margin-left: 200px;
  }
  
  .uiv button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: plum;
    position: absolute;
    transition: all 0.4s ease-in-out;
    left: 0;
  }
  
  .uiv button:hover::after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .uiv button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: black;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .uiv button:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }

.us{
    margin-left: 60%;
    margin-top: -395px;
    
}
.us pre h1{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 20px gray;
}
.us pre h5{
    margin-top: -20px;
    font-size: 14px;
    font-weight: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.insta{
    margin-left: 60%;
    margin-top: -50px;
    margin-right: 583px;
    
}
.face{
    margin-left: 63%;
    margin-top: -40px;
    margin-right: 520px;
   
}
.insta button{
    background-color: white;
    border:none;
    cursor: pointer;
}
.face button{
    background-color: white;
    padding-bottom: -30px;
    padding-left: -30px;
    padding-right: -30px;
    cursor: pointer;
    
    border:none;
}
.insta button:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 1s;
}
.face button:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 1s;
}

 /* Footer Section */
 .footer {
    background-color: #4b0082;
    color: white;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerlogo{
    cursor: pointer;
    margin-left: 400px;
    margin-top: 20px;
}
.footerlogodown{
    margin-top: 30px;
    margin-right: 450px;
}
nav li a{
    text-decoration: none;
    color: white;
    padding-left: 5%;
}
nav li{
    list-style-type: none;
    margin-top: 20px;
    margin-left: 30px;
}
.prod a{
    text-decoration: none;
    color: white;
}
.prod{
    margin-left: 88%;
    margin-top: -845px;

}