<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gadget Galaxy</title>
    <link rel="stylesheet" href="main.css">
    <link rel="website icon"  type="png"     href="headlogo4.png">
</head>
<body>
   
<nav class="nav"><ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="/contact">Contact US</a></li>
    
        <ul>
</nav>


<div class="logo">
    <h2><i><a href="" style="text-decoration: none;color: white;">Gadget Galaxy</a></i></h2>
</div>



<div class="log">
    <a href="" style="text-decoration: none;"><img src="logo.png" height="60px" width="90px"></a>
</div>


<div class="container">
<div class="info">
      <img src="img6.jpeg" width="100%" height="650px" style="border: 4px ; border-radius: 100px;box-shadow: -5px 5px 20px gray;">
</div>
</div>


<div class="heading">
   <pre> <h1 style=" font-family: 'Times New Roman', Times, serif;background-image: linear-gradient(to right,#d3d062,rgb(255, 0, 0));-webkit-background-clip: text;color: transparent;text-shadow: 0px 0px 0px;"><i>
        Welcome to Gadget 
        Galaxy: Your Hub for 
        Cutting-Edge
        Technology!</i></h1></pre>
</div>



<div class="small" style="font-family:serif;">
    <h3>Join Us on Your Tech Journey</h3>
</div><br>



<div class="uiv">
       <button onclick="location.href='Products.html'"><span>Products</span></button>
</div>


<img src="ad1.jpg" style="margin-top: 400px;width:300px;height: 400px;margin-left: 100px;border-radius: 30px; box-shadow: -5px 5px 20px gray;">

<img src="me.jpg" style="margin-top: 400px;width:250px;height: 400px;margin-left: 15px;border-radius: 30px; box-shadow: -5px 5px 20px gray;">

<hr width="1"size=700 style="margin-left: 53%;color: black;background-color: black;margin-top: -500px;">



<div class="about"><a name=About></a>
       <pre> <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;background-image: linear-gradient(to right,#fff800,rgb(167, 0, 0));-webkit-background-clip: text;color: transparent;text-shadow: 0px 0px 3px goldenrod;">
        Get to 
        Know Me</h1>
       <h6 style="margin-left: 100px;margin-top: -80px;color: black;font-family: Georgia, 'Times New Roman', Times, serif;"> <i>I am Md.Adnan Founder of Gadgets Galaxy.</i></h6>   
    </pre>
    
</div>



<div class="abt">
   <pre> <p style="font-family: Montserrat, sans-serif;"><i>
        At Gadget Galaxy, we’re passionate about 
        technology and dedicated to bringing you 
        the best gadgets available.
        Browse our collections and find your
        next favorite tech companion today!
        
        * Return Policy within 7 days.

        *Refund will be provided within 2-3 business days.

        *Damage Product can be Replaced.    
   </i>  </p></pre>
</div>


<img src="ad2.jpg" style="margin-top: -5px;width:400px;height: 200px;margin-left: 230px;border-radius: 30px; box-shadow: -5px 5px 20px gray;">
    

<br><br><br><br><br><br><br><br><br><br>





 <!-- Footer -->
 <div class="footer">
    <div class="footerlogo">
        <img src="logo.png" height="60px"></div>
       <div class="footerlogodown"> <pre><p>At Gadget Galaxy, we’re passionate about technology and 
        bringing you the best gadgets available.</p></pre>
    </div>
    <div class="footnav">
        <button onclick="location.href='/logout'">LogOut</button>

        
    </div>
    
</div>

</body>
</html>